polls\templates\polls\detail.html<br />
<!-- from polls.models import Poll -->
<!-- poll = get_object_or_404(Poll,pk=poll_id) -->
<!-- return render(request,'polls/detail.html', {'poll':poll}) -->
<!-- p = Poll.objects.get(pk=1) -->
<!-- p.question -->
<!-- p.choice_set.count() -->
<!-- p.choice_set.all() -->
<!-- for choice in p.choice_set.all(): -->
<!--  choice.choice_text-->
<h1>{{ poll.question }}</h1>
<ul>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post">
{% csrf_token %}
{% for choice in poll.choice_set.all %}
<input type="radio" name="choice" id="choice{{ forloop.counter }}" value ="{{ choice.id }}" />
<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>

